*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navButtons{
    /* background-color: red; */
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 0 10px black;
    min-width: 360px;
}
.navButtons button{
    height: 3vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    font-weight: bolder;
    font-size: larger;
}
.navButtons button:hover{
    background-color: wheat;
    cursor: pointer;
}
.navButtons button:active{
    background-color: lightblue;
    box-shadow: 0 0 5px black;
}
@media screen and (max-width: 1300px) {
    .navButtons button{
        width: 17vw;
    }
}
@media screen and (max-width: 800px) {
    .navButtons button{
        width: 17vw;
        font-size: small
    }
}
@media screen and (max-width: 510px) {
    .navButtons button{
        width: 17vw;
        font-size: xx-small
    }
}